USE [master]
GO
/****** Object:  Database [Practica]    Script Date: 03/06/2023 21:55:20 ******/
CREATE DATABASE [Practica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practica', FILENAME = N'C:\SQLServer2022\Data\Practica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practica_log', FILENAME = N'C:\SQLServer2022\Data\Log\Practica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practica]
GO
/****** Object:  Table [dbo].[Gestion]    Script Date: 03/06/2023 21:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gestion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Carné] [nvarchar](100) NULL,
	[Direccion] [nvarchar](100) NULL,
	[Fecha_Nacimiento] [datetime] NULL,
 CONSTRAINT [PK__Gestion__3213E83FD6251DF7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[EditarDatos]    Script Date: 03/06/2023 21:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[EditarDatos]
@Nombre nvarchar (100),
@Carné nvarchar (100),
@Direccion nvarchar (100),
@Fecha_Nacimiento varchar (100),
@id int
as 
update Gestion SET Nombre=@Nombre,Carné=@Carné,Direccion=@Fecha_Nacimiento
WHERE Id=@id 
GO
/****** Object:  StoredProcedure [dbo].[EliminarDatos]    Script Date: 03/06/2023 21:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[EliminarDatos]
@idDatos int
as
delete from Gestion Where id=@idDatos
GO
/****** Object:  StoredProcedure [dbo].[InsertarDatos]    Script Date: 03/06/2023 21:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertarDatos]
@Nombre nvarchar (100),
@Carné nvarchar (100),
@Direccion nvarchar (100),
@Fecha_Nacimiento varchar (100)
as
insert into Gestion values (@Nombre,@Carné,@Direccion,@Fecha_Nacimiento)
GO
/****** Object:  StoredProcedure [dbo].[MostrarDatos]    Script Date: 03/06/2023 21:55:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[MostrarDatos]
as
select * from Gestion
GO
USE [master]
GO
